@model IEnumerable<DomainModel.Entity.Product>

@{
    ViewData["Title"] = "Produtos";
}
<h2>Todas os Produtos</h2>

<a  href="/Product/Save" class="btn">Novo Produto</a>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Category.Name</td>
                        <td>
                            <a href="/Product/Edit/@item.Id" class="btn">Editar</a>
                        </td>
                         <td>
                            <a href="/Product/Delete/@item.Id" class="btn">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

